<p style="color: green"><%= notice %></p>

<%= render @call %>

<div>
  <%= link_to "Edit this call", edit_call_path(@call) %> |
  <%= link_to "Back to calls", calls_path %>
  <br><br>

  <%= button_to "Delete this call", @call, method: :delete %>
</div>
